---
import Layout from '../../../layouts/Layout.astro';
import { blogItems } from '../../../data/blogItems';
import BlogSidebar from '../../../components/ui/BlogSidebar.astro';
import WordColor from '../../../components/ui/WordColor.astro';

const categories = [...new Set(blogItems.map(post => post.category))];
---

<Layout title="Blog | Tech Blog">
  <section class="py-16 bg-gray-900/50 relative overflow-hidden">
  <div class="max-w-6xl mx-auto px-6 lg:px-12 relative z-10">
    <!-- Section Header -->
    <div class="text-center mb-16">
      <h2 class="text-3xl lg:text-4xl font-bold font-code capitalize inline-block relative text-white mb-1"
        data-animate="fadeInUp"
        data-delay="100"
      >
        <WordColor text="All Category" wordsPerColor={1} />
        <div class="absolute -bottom-2 left-0 w-full h-1 bg-green-500 opacity-70"></div>
      </h2>
      <p 
        class="text-gray-400 mt-4 max-w-2xl mx-auto"
        data-animate="fadeInUp"
        data-delay="100"
      >
       Explore All posts Category below.
      </p>
    </div>

    <!-- Three-Column Layout -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <!-- Left Sidebar -->
      <BlogSidebar />

      <!-- Blog Posts -->
      <div class="relative lg:col-span-2">
        <div class="flex flex-wrap gap-4">
            {categories.map(category => (
            <a
                href={`/blog/category/${category.toLowerCase()}`}
                class="px-2 py-1 bg-gray-800 hover:bg-gray-700 text-gray-300 rounded-full text-sm"
            >
                {category}
            </a>
            ))}
            </div>
          </div>
        </div>
      </div>
    </section>
</Layout>