---
import { projectItems } from '../data/projectItems';
import type { ProjectItemType } from '../models';
import Icon from './ui/Icon.astro';
import ProjectCard from './ui/ProjectCard.astro';
import WordColor from './ui/WordColor.astro';
import "glightbox/dist/css/glightbox.min.css";

interface pageProps {
  title: string;
  description: string;
}
const { title = 'Latest Projects and Experiments', description = 'A collection of my recent work and expirements. Click to explore details.' } = Astro.props as pageProps;




---

<section id="projects" class="py-20 bg-gray-900/50 relative overflow-hidden">
  <div class="max-w-6xl mx-auto px-6 lg:px-12 relative z-10">
    <div class="text-center mb-16">
      <h2 class="text-3xl lg:text-4xl font-bold font-code inline-block relative text-white mb-1">
        <WordColor text={title} wordsPerColor={1} />
        <div class="absolute -bottom-2 left-0 w-full h-1 bg-green-500 opacity-70"></div>
      </h2>
      <p class="text-gray-400 mt-4 max-w-2xl mx-auto">
        {description}
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {projectItems.map((project, index) => (
        // project card 
        <ProjectCard  project={project} index={index}/>
      ))}
    </div>
  </div>
</section>

<script>
import GLightbox from 'glightbox';

document.addEventListener("DOMContentLoaded", () => {
  // GLightbox
  const lightbox = GLightbox({
    selector: '.glightbox',
  });
});
</script>